@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
    background-color: slategray !important;
    font-family: 'Work Sans', sans-serif;
}

/* Swiper */
.swiper {
    width: 100%;
    height: 90%;
  }

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.swiper-slide img {
    max-width: 100%;
  }

/* Estilos Inicio */
.inicio{
    text-align: center;
    color: white;
}

.inicio a{
    color: white;
}

.logo-inicio{
    width: 60%;
    margin-top: 10em;
    max-width: 100%;
}

.inicio h2{
    margin-top: 3em;
    font-weight: bold;
}

.inicio i{
    margin-top: 3em;
}
/* Navbar */
#navbar {
    /* Por defecto visible */
    opacity: 0;
    pointer-events: none;
}

.navbar img{
    width: 30%;
}

.navbar a{
    color: white;
    font-family: 'Work Sans', sans-serif;
}

@media (max-width: 991px) {
    .navbar .btn {
      font-size: 0.8rem;
    }
  }

/* Mapa */

.mapa h1{
    font-family: 'Work Sans', sans-serif;
}

#map { 
    height: 500px;
    
 }

/* Ubicaciones */

.container{
  font-family: 'Work Sans', sans-serif;
  color: #696969;
  font-weight: bold;
}

canvas{
  width: 30% !important;
  height: 30% !important;
}

.iconoTiempo{
  width: 62px;
  height: 70px;
  background-image: url(../img/iconos-removebg-preview.png);
  background-repeat: no-repeat;
  background-position-x: -170px;
  background-position-y: -225px;
}

.nav div h5{
  margin-top: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.ubicacion{
  border-radius: 28px;
  background: #e0e0e0;
  box-shadow:  7px 7px 0px #d3d3d3,
               -7px -7px 0px #ededed;
  border:1px solid grey;
}

.nav{
  border-bottom: 0.1px solid grey;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
}



