@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
    background-color: slategray !important;
    font-family: 'Work Sans', sans-serif;
}

/* Swiper */
.swiper {
    width: 100%;
    height: 90%;
  }

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.swiper-slide img {
    max-width: 100%;
  }

/* Estilos Inicio */
.inicio{
    text-align: center;
    color: white;
}

.inicio a{
    color: white;
}

.logo-inicio{
    width: 60%;
    margin-top: 10em;
    max-width: 100%;
}

.inicio h2{
    margin-top: 3em;
    font-weight: bold;
}

.inicio i{
    margin-top: 3em;
}
/* Navbar */
#navbar {
    /* Por defecto visible */
    opacity: 0;
    pointer-events: none;
}

.navbar img{
    width: 30%;
}

.navbar a{
    color: white;
    font-family: 'Work Sans', sans-serif;
}

@media (max-width: 991px) {
    .navbar .btn {
      font-size: 0.8rem;
    }
  }

/* Mapa */

.mapa h1{
    font-family: 'Work Sans', sans-serif;
}

#map { 
    height: 500px;
    
 }

/* Ubicaciones */

.container h2{
  font-family: 'Work Sans', sans-serif;
  color: white;
}

canvas{
  width: 50% !important;
  height: 50% !important;
}

.temperatura{
  float: right;
}

.temperatura span{
  font-size: 40px;
  font-weight: bolder;
}

.iconoTiempo{
  width: 62px;
  height: 70px;
  background-image: url(../img/iconos-removebg-preview.png);
  background-repeat: no-repeat;
  background-position-x: -170px;
  background-position-y: -225px;
}




